# Python cache
__pycache__/
*.py[cod]

# Django uploaded files
media/
backend/media/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Environment
.env
.env.production

# PyCharm
.idea/

# macOS
.DS_Store

# Frontend
frontend/node_modules/
frontend/dist/