Django
psycopg[binary]
djangorestframework
bleach
pillow

django-redis
django-cors-headers
django-environ

channels==4.3.2
channels-redis==4.3.0
daphne

redis==5.2.1

celery

djangorestframework-simplejwt

drf-spectacular
drf-spectacular[sidecar]

pytest
pytest-django
pytest-cov
factory-boy
faker
pytest-asyncio

